
.fret-board {
    display: table;
    table-layout: fixed;
    border-spacing: 0px 2px;
    border-collapse: collapse;
    background-color: #2A0001;
}

.note {
    display: table-cell;
    margin: 3px 3px;
    text-align: center;
    cursor: pointer;
    width: 60px;
    border-right: 1px solid silver;
}

.note svg {
    width: 60px;
    height: 60px;
}

.inKey circle.centerCircle {
    fill: ivory;
}

.inKey text.centerLabel {
    font-size: 12pt;
    color: black;
}

.outOfKey circle.centerCircle {
    fill: #2A0001;
    stroke: ivory;
}

.outOfKey text.centerLabel {
    font-size: 12pt;
    fill: ivory;
    opacity: 0.15;
}

.string {
    display: table-row;
}

.string > div {
    display: table-cell;
}

.string > .note:first-child {
    border-radius: 0%;
    border-right: 6px solid black;
}

.fret-markers {
    display: table-row;
}

.fret-marker {
    display: table-cell;
    text-align: center;
    width: 50px;
}

.fret-spacer {
    background: linear-gradient(90deg, rgba(60,40,32,1) 45%, rgba(170,170,170,1) 50%, rgba(60,40,32,1) 55%);
}

.metronome > .label {
    margin-left: 2em;
    padding-right: 0.25em;
}

.tuner > svg {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.chordProgressions > .progressions {
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chordProgressions > .progressions > .pill {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: x-large;
    border-radius: 1em;
    border-color: #555;
    border-width: 1px;
    border-style: solid;
}

.counter {
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.counter > .counterOn {
    display: inline;
    font-size: large;
    color: white;
    font-weight: bold;
}

.counter > .counterOff {
    display: inline;
    color: #555;
    font-size: large;
}