
body {
    background-color: #fae9e2;
}

.fret-board {
    display: table;
    table-layout: fixed;
    border-spacing: 0px 5px;
    width: 100%;
    border-collapse: collapse;
    background-color: #fae9e2;
}

.note {
    display: table-cell;
    margin: 3px 3px;
    text-align: center;
    cursor: pointer;
    color: black;
    background-color: #fae9e2;
    font-size: large;
    width: 100px;
    border-right: 2px solid black;
}

.note svg {
    width: 100px;
    height: 100px;
}

.string {
    display: table-row;
}

.string > div {
    display: table-cell;
}

.string > .note:first-child {
    border-radius: 0%;
    background-color: #fae9e2;
    border-right: 6px solid black;
}

.scaleTable {
    display: table;
    margin-left: 10%;
    width: 80%;
    margin-top: 2em;
    border-top: solid 1px #aaa;
    border-right: solid 1px #aaa;
    color: black;
}

.scaleTable > div {
    display: table-row;    
}

.scaleTable > div > div {
    display: table-cell;
    text-align: center;
    border-bottom: solid 1px #aaa;
    border-left: solid 1px #aaa;
    background-color:#ccc;
}

.scaleTable > div:first-child > div {
    background-color: #666;
    border: solid 1px #555;
}

.fret-markers {
    display: table-row;
}

.fret-marker {
    display: table-cell;
    text-align: center;
    color: black;
    width: 50px;
}

.fret-spacer {
    background: linear-gradient(90deg, rgba(60,40,32,1) 45%, rgba(170,170,170,1) 50%, rgba(60,40,32,1) 55%);
}

.selectBox {
    display: inline-block;
    justify-content: center;
}

.selectBoxLabel {
    padding-right: 1em;
    padding-left: 0.25em;
    display: inline-block;
}

select {
    font-size: 1em;
}

button {
    font-size: 1em;
}

.keySelector {
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.keySelector > .selectBox {
    margin-right: 2em;
}

.metronome {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.metronome > .label {
    margin-right: 2em;
    padding-left: 0.25em;
}


.tuner > svg {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.progressions {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.progressions > .pill {
    margin-left: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: xlarge;
}
